<h1>Chittling Baby, Go Head Baby...</h1>

<table>
  <thead>
    <tr>
      <th>Chitts</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @chittles.each do |chittle| %>
      <tr>
        <td><%= chittle.chit_text %></td>
        <td><%= link_to 'Show', chittle %></td>
        <td><%= link_to 'Edit', edit_chittle_path(chittle) %></td>
        <td><%= link_to 'Destroy', chittle, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Chittle', new_chittle_path %>

<div class="profilepic"></div>