<p id="notice"><%= notice %></p>

<p>
  <strong>Chit Text:</strong>
  <%= @chittle.chit_text %>
 
</p>  
<p>
  <%= @chittle.user_id %>
  <%= @chittle.user.email %>
</p>

<%= link_to 'Edit', edit_chittle_path(@chittle) %> |
<%= link_to 'Back', chittles_path %>
