<h1>Chatter Matters</h1>

<table class = "table table-striped">
  <thead>
    <tr>
      <th>ChitChatter</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @chatters.each do |chatter| %>
      <tr>
        <td><%= chatter.chit_response %></td>
        <td>    <%= chatter.chittle.id %></td>
      
            <% if chatter.user == nil %>
            <td>Anonymous</td>
            <% else %>
            <% end %>
        <td><%= link_to 'Show', chatter %></td>
        <td><%= link_to 'Edit', edit_chatter_path(chatter) %></td>
        <td><%= link_to 'Destroy', chatter, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Chatter', new_chatter_path %>
